@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.orangeButton {
    background-color: #FF7F56;
    color: white;
}
.background {
    background-color: white;
    
}
.backgroundRegister {
    background-color: #048181;
}
.backgroundRegister {
    background-color: white;
}
body {
    font-family: 'Kanit', sans-serif !important;
}