@tailwind utilities;


body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.softOrangeBackground {
  background-color: #FFEFEB;
}

.softOrangeText {
  color: #FF7F56
}

.softGreenBackground {
  background-color: #E1F7F7;
}

.softGreenText {
  color: #048181
}

.center-offset {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-orange {
  background-color: #FF7F56;
  color: white;
}

.bg-orange:hover {
  background-color: #ff9470;
}

.bg-green {
  background-color: #048181;
}

.bg-green:hover {
  background-color: #128686;
}

.background {
  background-color: white;

}

.backgroundRegister {
  background-color: #048181;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundRegistert {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerWelcome {
  color: white;

}

.registerTitle {
  color: #103535;

}

.imgGetA {
  width: 60%;
  background-color: white;
}

.todolistCard {
  color: #048181;
  background-color: #E3F0F0;
}

.registerText {
  color: white;
}

.todolistTitle {
  background-color: #048181;
  color: white;
  padding: 0.3em;
  text-align: center;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.addtask {
  background-color: #FF7F56;
  float: right;
}

.addtask:hover {
  background-color: #d77555;
  float: right;
}

.todolistCard {
  color: #048181;
  background-color: #E3F0F0;
}

.todolistTitle {
  background-color: #048181;
  color: white;
  padding: 0.3em;
  text-align: center;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.addtask {
  background-color: #FF7F56;
  float: right;
}

.addtask:hover {
  background-color: #d77555;
  float: right;
}

.task {
  margin-top: 1em;
  background: #F7F8F9;
  border-radius: 0.2em;
  padding-left: 0.5em;
}

.checkedBox {
  background-color: #048181;
}

input[type="checkbox"]:checked::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: blue;
  border-radius: 2px;
  margin-right: 5px;
}